# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
macosx-*
/start.me
/releases
/doc/lf/
*.guid
projects/esp-macosx-mine*
pj.new
project.xcworkspace
xcuserdata
samples/esp-login/cache
