Package: ${settings.name}
Version: ${settings.version}
Section: devel
Priority: optional
Architecture: ${platform.mappedCpu}
Depends: libc6
Provides: pak
Replaces: pak
Conflicts: pak
Installed-Size: 10
Maintainer: Embedthis Development <dev@embedthis.com>
Description: Embedthis Bit
 ESP is a "C" language web framework that works at "thought-speed".
 .
 more information about Embedthis ESP can be found at:
 <URL:http://embedthis.com>
